/*
    Custom overrides
*/
/*
.h2-banner{
    color: #da0510;
    font-family: proxima_nova_rgbold,Arial;
    }
    h2{
    font-family: proxima_nova_rgbold,Arial;
    line-height:38px;
  
    }
    .victron{
        color: #272622;
      font-family: MuseoSans-300 !important;
      font-size: 1.5rem;
      line-height: 2.5rem;
    }
    .lastest_from_blog{
    display: none;
    }
    */
 .victron-h1{
        color: #272622;
        font-family: "museo-sans", sans-serif;
        font-style: normal;
        font-size: 4.2rem;
        font-weight: 400;
        line-height: 5.2rem;

    }
.victron-h2{
    font-family: "museo-sans", sans-serif;
    font-style: normal;
    font-size: 2.6rem;
    font-weight: 400;
    line-height: 3.5rem;
}
.victron-p{
    font-family: "museo-sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
   